.title {
  color: red;
}

.goPostButton {
  border: 0;
  padding: 6px;
  background-color: green;
  color: white;
}

.commentItem {
  border: 1px gray solid;
  width: 1000px;
  margin-bottom: -1px;
  list-style-type: none;
}

.commentList {
  padding-left: 0px;
}
